html, body {
  margin: 0;
  padding: 0;
  /* min-width: 1000px; Minimum width */
  max-width: 1200px;
  min-height: 150px; /* Minimum height */
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto; 
}

#p5-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; 
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: minmax(250px,2fr) 120px minmax(500px,5fr) minmax(200px,2fr);
  grid-template-rows: minmax(100px,1fr) 50px repeat(1, minmax(100px,2fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  z-index: 1;
}

#contact {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

#contact p {
  text-align: center;
  margin: 0;
}

.contact a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}

.blankCell {
  opacity: 0.90;
  background-color: #37392E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
  font-size: 70px;
  color: #37392E;
  line-height: 1;
  font-family: 'Fira Code';
  font-weight: 200;
  transition: all .3s ease;
}

.blankCell:hover {
  opacity: 1;
}

.profileCell {
  background-color: #37392E;
  color: #bacac8;

}

.profileCell a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}

.profileCell a:link,
.profileCell a:visited,
.profileCell a:hover,
.profileCell a:active {
  text-decoration: none;
  color: inherit;
}

.projectTitleCell {
  background-color: #AA767C;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}

.projectTitle {
  font-size: 36px;
  color: #37392E;
  padding: 1rem;
}

.projectKind {
  font-size: 20px;
  color: hsl(71, 11%, 20%);
}

.smallText {
  font-size: 16px;
  display: block;
  color: #bacac8;
  text-align: center;
}

.mediumText {
  font-size: 16px;
  display: block;
  color: #37392E;
  align-items: start;

}

.resizable-image {
  background-color: black;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto; 
  object-fit: contain; 
  opacity: 1.0;

}

.alphaOverride {
  opacity: 1.0;
}

.colour1 {
  background-color: 	#b4b4b4;
}

.colour2 {
  background-color: #bacac8;
  color: #37392E;

}

.textCol1 {
  color: #bacac8;
}



.rotated-text {
  transform: rotate(90deg); 
  font-size: 32px;
}

.distribute {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background:#AA767C;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #37392E; 
  border-radius: 5px;
}

/* Change scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Slightly darker grey */
}